
 @import url(../styles.scss);

 h1 {
    font-size: 3.125rem;
    color: var(--pink-primary);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

  p {
    margin: 0;
    color: var(--white);
  }

  main {
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    font-family: "Poppins", sans-serif;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }

// menu item personalize 
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 2%;
    position: sticky;

    a, button {
      font-family: "Poppins", sans-serif;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-transform: none;
      font-size: medium;
      width: 90px;
      height: 40px;
      border: none;
  }

  a:hover, button:hover{
      border-radius: 100px;
      background-color: var(--gray-700);
      transition: ease-in-out 2ms;
  }

  button {
      .active{
          border-radius: 100px;
          padding-left: 1%;
          padding-right: 1%;
          background-color: var(--pink-primary);
          color:var(--background-color);
      }
  }
}

// sticky 
nav, #menu{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 95%;
}

// scroll teste
a {
    display: inline-block;
    width: 50px;
    text-decoration: none;
  }
  scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: sticky;
  }
  scroll-container {
    display: block;
    height: 90vh;
    scroll-behavior: smooth;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }


  // home-header

  #home{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    text-align: left;
  }

  .home-header{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    .header-title{
      .title {
        h1{
          font-weight: 900!important;
        }
      }
      .subtitle{
        font-weight: 600;
        font-size: x-large;
      }
    }
  }



  .header-sub{
    font-size: 20px;
    width: 50%;
    color: var(--white);
    font-weight: 100;
  }